extends layout

block content
  .menu
    ul.nav.nav-pills
      li.active
        a(href="/") Home
      li
        a(href="/tasks") Register
      li
        a(href="/lookup") Lookup
      li
        a(href="/dax") DAX      
  .home
    p This portal is for registering and searching tags for Lost and Found functionality.
    img(src= "https://dtvg5uc94szbe.cloudfront.net/HomeImage.jpg", height="500", width="1000")
    br
    br
