extends layout

block content

  .menu
    ul.nav.nav-pills
      li
        a(href='/') Home
      li.active
        a(href='/tasks') Register
      li
        a(href="/lookup") Lookup
      li
        a(href="/dax") DAX
  br
  form.form-horizontal#loginForm(action='/tasks', method='post')
    .input-group
      table.table
        tr.form-group.required
          td
            label.control-label MDN:
          td
            input#firstname.form-control(name='MDN', type='text', ,='', size='13')
        tr.form-group.required
          td
            label.control-label TAG #1:
          td
            input#firstname.form-control(name='TAG1', type='text', ,='', size='13')
        tr.form-group.required
          td
            label.control-label TAG #2:
          td
            input#firstname.form-control(name='TAG2', type='text', ,='', size='13')
        tr.form-group.required
          td
            label.control-label TAG #3:
          td
            input#firstname.form-control(name='TAG3', type='text', ,='', size='13')
    div
      span
        button#btnReset.btn.btn-primary(type='reset') Reset
      span &nbsp;
        button#btnSubmit.btn.btn-success(type='submit') Submit
  script.

      $('#loginForm').validate({
        rules: {
            MDN: {
                minlength: 2,
                //maxlength: 2,
                required: true
            },
            TAG1: {
                minlength: 2,
                //maxlength: 2,
                required: true
            }
        },
        messages: {
          MDN: "",
          TAG1: ""
        },
        highlight: function(element) {
            $('#spanHeader').text('');
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        }
      });
