<!doctype html>
<html>

    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body>

        <div class="container">
            <dl></dl>
            <dl></dl>
            <dl></dl>
            <h2>Login:</h2>
            <a href="/auth/oauth2" class="btn btn-primary"> Strategy: passport-ping-oauth2</a>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p  style="padding-left: 30px;"><a href="http://passportjs.org"><img src="https://s3.amazonaws.com/waf-log-placeholder/temp-store/passport.png" alt="" /></a></p>
    </body>

</html>
