<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to AWS NodeJS POC Page</title>
  </head>
  <body>
    <h1><font color="maroon">{{pageTitle}}</font></h1>
    <img height="320" width="920" src='http://all4desktop.com/data_images/original/4188482-destructive-car-race.jpg'/>
    <h4>Please access this page to know Request/Response Format: <a>https://econfluence.int.asurion.com/display/ACA/APIs<a/></h4>

    <footer>
      <h2>Developed By : Synechron Team</h2>
    </footer>
  </body>
</html>
