.ajax__calendar_container {padding:4px;position:absolute;cursor:default;width:100px;font-size:10px;text-align:center;font-family:tahoma,verdana,helvetica; z-index:999;}
.ajax__calendar_body {height:130px;width:100px;position:relative;overflow:hidden;margin:2px;z-index:999;}
.ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {top:0px;left:0px;height:130px;width:100px;position:absolute;text-align:center;margin:2px;}
.ajax__calendar_container TABLE {font-size:10px;z-index:999;}
.ajax__calendar_header {height:25px;width:100%}
.ajax__calendar_prev {cursor:pointer;width:15px;height:15px;float:left;background-repeat:no-repeat;background-position:50% 50%;background-image:url(<%=WebResource("AjaxControlToolkit.Calendar.arrow-left.gif")%>);}
.ajax__calendar_next {cursor:pointer;width:15px;height:15px;float:right;background-repeat:no-repeat;background-position:50% 50%;background-image:url(<%=WebResource("AjaxControlToolkit.Calendar.arrow-right.gif")%>);}
.ajax__calendar_title {cursor:pointer;font-weight:bold;background-color:#89B0D8;color:White;height:20px;}
.ajax__calendar_footer {height:12px;}
.ajax__calendar_today {cursor:pointer;padding-top:4px;background-color:#5AC5A5;color:#ffffff;}
.ajax__calendar_dayname {height:16px;width:14px;text-align:right;padding:0 2px;font-weight:bold;}
.ajax__calendar_day {height:12px;width:15px;text-align:right;padding:0 2px;cursor:pointer;}
.ajax__calendar_month {height:41px;width:37px;text-align:center;cursor:pointer;overflow:hidden;}
.ajax__calendar_year {height:41px;width:37px;text-align:center;cursor:pointer;overflow:hidden;}

.ajax__calendar .ajax__calendar_container {border:1px solid #646464;background-color:#ffffff;color:#000000;}
.ajax__calendar .ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.ajax__calendar .ajax__calendar_dayname {border-bottom:1px solid Black;}
.ajax__calendar .ajax__calendar_day {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_month {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_year {border:1px solid #ffffff;}

.ajax__calendar .ajax__calendar_active .ajax__calendar_day {background-color:#666666;border-color:#0066cc;color:White;font-weight:bold;}
.ajax__calendar .ajax__calendar_active .ajax__calendar_month {background-color:#666666;border-color:#0066cc;color:White;font-weight:bold;}
.ajax__calendar .ajax__calendar_active .ajax__calendar_year {background-color:#666666;border-color:#0066cc;color:White;font-weight:bold;}

.ajax__calendar .ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#E8A713;}
.ajax__calendar .ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#E8A713;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_title {color:#000000;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_today {color:#000000;}
