extends layout

block content
  .menu
    ul.nav.nav-pills
      li.active
        a(href="/") Home
      li
        a(href="/tasks") Register Tag
      li
        a(href="/lookup") Report Tag
      li
        a(href="/dax") DAX      
  .home
    p Check Node JS API Connection.
    img(src= "/images/connectAPI.jpg", height="300", width="700")
