extends layout

block content
  .menu
    ul.nav.nav-pills
      li.active
        a(href="/") Home
      li
        a(href="/tasks") Register Tag
      li
        a(href="/lookup") Report Tag
      li
        a(href="/dax") DAX      
  .home
    p This portal is for registering and searching tags for Lost and Found functionality.
    img(src= "https://dtvg5uc94szbe.cloudfront.net/HomeImage.jpg", height="430", width="100%")
    .footer
          ul.fl
            li © 2016 Synechron. All Rights Reserved.
            li.last  
          ul.fr
            li.last  
            li
              a.facebook(href='https://www.facebook.com/pages/Synechron-Technologies-Pvt-Ltd/231574240199910', title='Facebook', target='_blank')  
            li
              a.twitter(href='https://twitter.com/Synechron', title='Twitter', target='_blank')  
            li
              a.in(href='http://www.linkedin.com/company/synechron', title='Linkedin', target='_blank')  
            li.nomargin
              a.youtube(href='http://www.youtube.com/user/SynechronInc', title='Youtube', target='_blank')
